@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */

header {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;

}

.header-btn {
  width: 20px;
  height: 20px;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.header-btn.green {
  background-color: rgb(71, 155, 68);
}

.header-btn img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(255deg) brightness(101%) contrast(100%)
}
.header-btn:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

/* Sidebar */
.sidebar .close {
  transition: all 0.6s ease-in-out;
}

.sidebar.toggled .close {
  transform: translateX(140px);
  background-color:  gray;
}

/* Close button animations */
.change .bars {
  transform: translateY(4.5px);
}
.bar1,
.bar2,
.bar3 {
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 5px;
  width: 20px;
}
.change .bar1 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

/* Sidebar */

.sidebar {
  position: relative;
}

.sidebar-content {
  background-color: white;
  width: 200px;
  height: 102vh;
  border-right: 1px solid black;
  position: absolute;
  top: 0;
  z-index: 0;
  left: -202px;
  transition: left 0.6s ease-in-out;
}

.sidebar-content::before {
  content: '';
  height: 55px;
  display: block;
}

.sidebar.toggled .sidebar-content {
  left: 0px;
}

/* Sidebar entries */
.sidebar-btn {
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  padding: 1rem 0;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  color:rgb(27, 27, 27);

}

.sidebar-btn .icon {
  margin: 0 1rem;
}

.sidebar-btn a {
  text-decoration: none;
  color:rgb(27, 27, 27);
}

.sidebar-btn:hover {
  background-color: rgb(221, 221, 221);
}

/* UI Canvas */
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 45px);
}

.wordle-canvas {
  width: fit-content;
  height: fit-content;
  margin: 1rem;
}

.wordle-row {

  width: fit-content;
  height: fit-content;
  display: flex;

}

.wordle-space {
  width: 50px;
  height: 50px;
  color: white;
  background-color: white;
  padding: 0.2rem;
  z-index: -1;
  margin: 0.1rem 0.2rem;
  border: 0.1rem solid rgb(122, 122, 122);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  font-weight: 800;
  user-select: none;
  transition: background 0.1s linear;
  transition-delay: 0.1s;
}

.wordle-space.input {
  color: black;
}

.wordle-space.animate {
  animation: rotateAnimation 1.5s forwards;
}
@keyframes rotateAnimation {
	from {transform: rotateY(90deg);}
	to {transform: rotateY(0deg);}
}

.wordle-space.pulse {
  animation: pulseAnimation 0.3s forwards;
}
@keyframes pulseAnimation {
  0%  {transform: scale(1); filter: brightness(1);}
  50% {transform: scale(1.1); filter: brightness(1.1);}
  100%  {transform: scale(1); filter: brightness(1)}
}
.wordle-space.hasinput {
  border: 0.1rem solid rgb(88,88,88);
}

.wordle-space.black {
  background-color: gray;
  color: white;
  border-color: gray;
}

.wordle-space.green {
  background-color: rgb(71, 155, 68);
  color: white;
  border-color: rgb(71, 155, 68);
}

.wordle-space.yellow {
  background-color: rgb(236, 201, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(236, 201, 0);

}

.keyboard {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.keyboard-row {
  width: fit-content;
  display: flex;
}

.keyboard-key {
  width: 35px;
  height: 45px;
  background-color: rgb(88, 88, 88);
  border-radius: 0.3rem;
  color: white;
  font-size: 20pt;
  font-weight: 800;
  padding: 0.2rem;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.keyboard-key.backspace {
  background-color: rgb(155, 10, 10);
  width: 50px;
}

.keyboard-key.enter {
  background-color: rgb(10, 121, 155);
  width: 50px;
}

.keyboard-key.key-black {
  background-color: black;
}

.keyboard-key.key-green {
  background-color: rgb(71, 155, 68);
}

.keyboard-key.key-yellow {
  background-color: rgb(236, 201, 0);
}

.keyboard-key:hover {
  box-shadow: rgba(50, 50, 93, 0.123) 0px 6px 12px -2px, rgba(0, 0, 0, 0.062) 0px 3px 7px -3px;
  filter: brightness(0.85);
  cursor: pointer
}

@media only screen and (max-width: 500px) {

  #root {
    justify-content: space-evenly;
  }
  .keyboard-key {
    width: 27px;
    height: 40px;
  }
}

@media only screen and (max-width: 380px) {

  #root {
    justify-content: space-evenly;
  }
  .keyboard-key {
    width: 23px;
    height: 35px;
  }
}

/* Score */
.score {
  margin: 1rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;
  /* margin: 1rem; */
}

/* Social Media bar */
.icon {
  display: inline;
  font-size: 22px;
}

.icon-text {
  margin: 3px;
}

a.icon-text:hover {
  text-decoration: none;
  text-shadow: 1px 1px 4px rgb(119, 119, 118);
}

.sidebar-content ul {
  position: absolute;
  bottom: 0;
  margin: 1rem 0.2rem;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transform: scale(0.9);
  cursor: pointer;
}

.sidebar-content ul li {
  list-style: none;
  display: inline;
  padding: 0px 10px 0px 0px;
}

.sidebar-content a {
  color: rgba(32, 32, 32, 0.767);
}
